{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block content %}
<table border="1px">
    <tr>
       <th>Department</th> 
       <th>Name of Lecturer</th>
       <th>salary</th>
       <th>Subject</th>


    </tr>
        {% for i in lecresult %}
    <tr>

        <td>{% for j in i.department.all %}
            {{j}}
        {% endfor %}</td>
        <td>{{i.lecname}}</td>
        <td>{{i.lecsal}}</td>
        <td>{{i.lecsub}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}